* {
    box-sizing: border-box
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.flex{
    display: flex;
    width: 100%;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-between;
    justify-items: stretch;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0%;
    font-size: 17px;
    width: 100%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 50px 20px;
    height: 100%;
    flex-direction: column;
}
.tabcontent span{
    font-size: 35px;
    font-weight: bold;
}


.tabcontent::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
}

.tabcontent:scrollbar {
    display: none;
    overflow-y: auto;
}

#mainPage {
    justify-content:  center;
    align-items: center;
    background-color: red;
}

#rigved {
    background-color: red;
}

#yajurved {
    background-color: green;
}

#samved {
    background-color: blue;
}

#atharvaved {
    background-color: orange;
}
.search-bar{
    text-align: center;
    width: 100%;
}


.search-bar input[type="text"] {
    width: fit-content;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: 0px solid white;
    padding: 0 10px;
    font-size: 15px;
}

.search-bar input[type="submit"] {
    background: white;
    border: 0px solid white;
    padding: 13px;
    margin: auto;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.search-bar input[type="text"]:focus,
.search-bar input[type="submit"]:focus {
    outline-width: 10;
    outline: none;
}

.search-bar input[type=text]::placeholder {
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
}