* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    box-sizing: content-box;
    font-family: roboto;
    font-size: 62.5%;
}

/* Style tab links */
.flex{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-between;
    justify-items: stretch;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 0%;
    font-size: 1.7rem;
    width: 100%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    height: 100%;
    flex-direction: column;
    font-size: 1.5rem;
}



.tabcontent::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
}

.tabcontent:scrollbar {
    display: none;
    overflow-y: auto;
}

#mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    height: 100vh;
}

#rigved {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.tabcontent .boxs {
    border: .2rem solid rgb(89, 89, 89);
    height: fit-content;
    background-color: blanchedalmond;
    margin: 1rem 2rem 4rem 1rem;
    width: fit-content;
    max-width: 60rem;
    float: left;
    transition: all 0.2s linear;
}

.boxs:hover {
    background-color: rgb(100, 100, 255);
}

.ved-img {
    width: 100%;
    height: 30rem;
}

#yajurved {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#samved {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#atharvaved {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.search-bar,
.ved-search-bar {
    text-align: center;
    width: 100%;
}


.search-bar input[type="text"] {
    width: fit-content;
    height: 4rem ;
    margin: auto;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .3rem .12rem rgba(77, 77, 77, 0.77);
    border: .2rem solid rgba(77, 77, 77, 0.77);
    padding: 0 1rem;
    font-size: 1.5rem;
}

.ved-search-bar input[type="text"] {
    width: fit-content;
    height: 4rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .3rem .12rem rgba(77, 77, 77, 0.77);
    border: .2rem solid rgba(77, 77, 77, 0.77);
    padding: 0 1rem;
    font-size: 1.5rem;
}

.search-bar input[type="submit"] {
    background: white;
    box-shadow: .1rem .1rem .3rem .12rem rgba(77, 77, 77, 0.77);
    border: .2rem solid rgba(77, 77, 77, 0.77);
    text-shadow: .1rem .1rem .3rem;
    padding: 1.3rem;
    margin: auto;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.ved-search-bar input[type="submit"] {
    background: rgb(255, 255, 255);
    box-shadow: .1rem .1rem .3rem .12rem rgba(77, 77, 77, 0.77);
    border: .2rem solid rgba(77, 77, 77, 0.77);
    text-shadow: .1rem .1rem .3rem;
    padding: 1.3rem;
    margin: auto;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.search-bar input[type="text"]:focus,
.search-bar input[type="submit"]:focus,
.ved-search-bar input[type="text"]:focus,
.ved-search-bar input[type="submit"]:focus {
    outline-width: 0;
    outline: none;
}

.search-bar input[type=text]::placeholder,
.ved-search-bar input[type=text]::placeholder {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.flex-text {
    cursor: default;
}

.info_box {
    border-bottom: .2rem solid rgb(255, 180, 69);
}


.info_box:last-child {
    border: 0rem;
}


.info_box div {
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 1.3rem;
    border: 0.01rem solid rgba(0, 0, 0, 0);
    padding: 1rem;
    margin: 0rem 5rem;
    transition: all 0.2s ease-in-out;
    border-radius: .3rem;
}

.info_box div.shaakha:first-of-type {
    border-bottom: .1rem solid black;
    margin-bottom: 1rem;
}

.info_box div:hover {
    color: white;
}

.info_box div.shaakha:hover {
    color: black;
}

.flex-text .fa-chevron-circle-right {
    color: rgb(255, 169, 9);

}

.description {
    text-align: justify;
    margin: 2rem 2rem;
}

.description h2 {
    border-bottom: .2rem solid saddlebrown;
}

.option-mantra {
    border-radius: .5rem;
    border: .2rem solid black;
    margin:3rem;
    padding: 3rem;
}

.option-mantra .headline h3 {
    margin: 0 0 1rem 1rem;
    border-bottom: .2rem solid black;
    width: fit-content;
}

.rig,
.yaju,
.saam,
.atharva {
    width: 100%;
    height: fit-content;
    padding: .8rem 0;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: .14rem solid rgba(0, 0, 0, 0.531);
}

.rig:focus,
.yaju:focus,
.saam:focus,
.atharva:focus {
    outline: none;
    outline-width: 0;
}

.option {
    display: none;
}

.rig-show {
    display: block;
}

/* Style tab links */
.flex-aarsh {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}


.tablink-aarsh {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: 1.7rem;
    scroll-snap-align: center;
    cursor:default;
}

.tablink-aarsh:hover {
    background-color: #777;
    cursor:default;
}

#manu img{
    width: 100%;
}

div.box-box{
    width: 50%;
    background-color:  brown;
}
div.content-box{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: cyan;
    width: 2rem;
    padding: 2rem;
    margin:1rem .5rem;
}

.rig_box{
    display: none;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.rig_box.show_mantra{
    display: block;
    
}
.container{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mantra_info{
    height: 5rem;
    background: rgb(76, 225, 65);
    display: flex;
    align-items: center;
    padding:0 1rem;
}
.m_info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Helvetica Neue";
    font-size: 1.3rem !important;
}
.m_info span{
    margin: 0 1rem;
    color: white;
}
.m_info>span>span{
    color: rgb(239, 62, 26);
}
.mantra_box{
    height: 20rem;
    max-width: 80%;
    width: 80%;
    min-width: 80%;
    margin-top: 2rem;
    border-top: 3.5rem solid rgb(222, 18, 18) !important;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size:  1.6rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

}
.mantra_box #mantra_hi{
    color: rgb(255, 102, 0);
        font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;

}
.mantra_box #padpath{
    color: blue;
    font-weight: bold;
}
#mandal_id{
    width: 100%;
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: red;
    justify-self: flex-end;
    padding: 0 1rem;
}
#mantra_id span{
    color: white;
}
